{% extends 'baseLessons.html' %}

{% block content %}
{% include 'navbarLoader.html' %}
<br><br><br><br><br><br>
<div class="create-account">
        <div class="create-account_logo">
            <h2 style="color:red;">BRAK DOSTĘPNYCH LEKCJI DO WYKORZYSTANIA NA KONCIE</h2>
        </div>
         <p>
             Chcielibyśmy Cię poinformować, że na tym etapie nie masz
             dostępu do dostępnych lekcji na platformie SchoolWeb.
             Warto zaznaczyć, że Twoje aktualne zasoby lekcji zostały wykorzystane.
             <br><br>Jeśli jesteś zainteresowany kontynuacją korzystania ze Strefy
             Korepetycji, zachęcamy Cię do zakupu dodatkowych lekcji.
             To nie tylko pozwoli Ci na dalsze wykorzystanie zasobów platformy,
             ale także otworzy nowe możliwości nauki i rozwoju.
             <br><br>Jeżeli jesteś gotów podjąć decyzję o zakupie lekcji,
             zachęcamy do skontaktowania się z nami, aby omówić dostępne
             opcje. Dziękujemy za zrozumienie i czekamy na Twoje dalsze
             zaangażowanie w naszej platformie edukacyjnej.
             <br><br>Zapłaty możesz dokonać Blikiem na numer telefonu - 572930585
             lub przelewem na numer konta - 1240 1111 45667 3345 2222 0033
             <br><br>WAŻNE, ABY W TYTULE PRZELEWU ZNAJDOWAŁO SIĘ IMIĘ I NAZWISKO
             UCZNIA ORAZ LICZBA LEKCJI, ZA KTÓRE DOKONANA JEST ZAPŁATA.
        </p>
</div>
{% endblock content %}