{% extends 'baseLessons.html' %}
{% load static %}
{% block content %}
{% include navbar_template %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include courses_component %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p>@{{user.username}}</p>
            {% if request.user == user %}
              <a href="{% url 'update-user-teachers' %}" class="btn btn--main btn--pill">Edytuj Profil</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>O mnie</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Posty utworzone przez {{user.first_name}} {{user.last_name}}</a>
            </h2>
          </div>
        </div>
        {% include 'website/feed_component_teachers.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'website/activity_component_lessons.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content %}