{% extends 'baseLessons.html' %}

{% block content %}
{% include 'navbarLoader.html' %}
<br><br><br><br><br><br>
<div class="create-account">
        <div class="create-account_logo">
            <h2>TWORZENIE TWOJEGO KONTA JEST W TRAKCIE</h2>
        </div>
         <p>
             Obecnie trwa proces tworzenia Twojego konta i jest ono w
             fazie rozpatrywania przez administrację. Nasz zespół
             dokładnie przegląda dostarczone informacje w celu
             upewnienia się, że spełniają one nasze wymagania.
             Skontaktujemy się z Tobą najszybciej, jak to możliwe,
             aby poinformować Cię o statusie konta oraz dalszych
             krokach.
             <br><br>Tworzenie konta jest procesem, który wymaga
             starannej weryfikacji i zatwierdzenia przez naszą
             administrację. Nasz zespół pracuje nad tym, aby upewnić
             się, że wszelkie dane i informacje dostarczone podczas
             rejestracji są poprawne i zgodne z naszymi wytycznymi.
             Rozumiemy, że czekanie może być czasem frustrujące,
             ale chcemy zapewnić Cię, że staramy się jak najszybciej
             przetworzyć Twoją prośbę.
             <br><br>Dziękujemy za wybranie naszej
             platformy. Twoje zainteresowanie i cierpliwość są dla
             nas bardzo ważne. Jeśli masz jeszcze jakieś pytania lub
             wątpliwości, prosimy o kontakt za pomocą formularza na
             stronie SchoolWeb, telefonicznie lub mailowo.
             Dziękujemy za cierpliwość i zrozumienie!
        </p>
</div>
{% endblock content %}